<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel="stylesheet">
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel="stylesheet">

    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <title>Spring Boot Users Data</title>
</head>
    <body>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="firstname">Firstname:</label>
                <input type="email" class="form-control" placeholder="Enter firstname" id="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Lastname:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="lastname">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
            <script type="text/javascript" th:src="@{/js/bundle.js}"></script>
        </body>
</html>